<link rel="stylesheet" href="/css/userProfile.css" >

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">


<% if(user.id == profileUser.id){ %>
    <form action="/user/update/<%= profileUser.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%= profileUser.name %>" required >
        <input type="emaill" name="email" placeholder="Your email" value="<%= profileUser.email %>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<%}else{%>
    <p>Name: <%= profileUser.name %></p>
    <p>Email: <%= profileUser.email %></p>
<%}%>